body {
    text-align:center;
    font-family:Helvetica, arial, sans-serif;
}
h2 {
    font-family:Helvetica, arial, sans-serif;
    font-size:32px;
    font-weight: bold;
    color:#000;
}

h3 {
    font-family:Helvetica, arial, sans-serif;
    font-size:23px;
    font-weight: bold;
    color:#000;
}
p {
    font-family:Helvetica, arial, sans-serif;
    font-size:14px;
    font-weight: lighter;
    color:#000;
}
.hero-image {
    background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg');
    text-align: center;
    color:#fff;
}

.hero-image h1 {
    font-size:70px;
    font-weight: bold;
    color: #fff;
}

.hero-image h2 {
    font-size:23px;
    font-weight: bold;
    color: #fff;
    padding:10px 0;
}

.nav a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.footer-nav p {
    background-color: dimgray;
    font-size: 11px;
    color: white;
    padding: 10px 0 10px 10px;
    text-align:left;
}

.footer-nav a {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}